<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Watch Store - Admin Panel</title>
	<!-- base:css -->
	<link rel="stylesheet" href="vendors/typicons/typicons.css">
	<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
	<link rel="stylesheet" href="vendors/select2/select2.min.css">
	<link rel="stylesheet" href="css/vertical-layout-light/style.css">
	<link rel="shortcut icon" href="adminlogo/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="te/jquery-te-1.4.0.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script type="text/javascript" src="te/jquery-te-1.4.0.min.js" charset="utf-8"></script>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<style>
		::-webkit-scrollbar {
			width: 6px;
			height: 6px;
		}

		/* Track */
		::-webkit-scrollbar-track {
			background-color: #d4d4d4;
			border-radius: 5px;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background: #ba2026;
			border-radius: 5px;
		}
		body {
			counter-reset: section;
		}
	
		#id::before {
			counter-increment: section;
			content: "" counter(section) "";
		}
	</style>
</head>

<body>
	<div class="container-scroller"><br><br><br>
		<!-- partial:partials/_navbar.html -->
		<div th:insert="admin-include/header :: nav"></div>
		<div class="container-fluid page-body-wrapper">
			<div th:insert="admin-include/slide-bar :: nav"> </div>
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-lg-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Coupons</h4>
									<button data-toggle="modal" data-target="#addmodal" class="btn btn-primary btn-icon-text">
										<i class="typcn typcn-upload btn-icon-prepend"></i>
										Add Coupon
									</button>
									<div class="table-responsive mt-2">
										<table class="table table-hover table-striped" id="myTable">
											<thead>
												<tr>
													<th>Sr. No.</th>
													<th>Coupon code</th>
													<th>Coupon type</th>
													<th>Coupon value</th>
													<th>Minimum cart value</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
				
													<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
														aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
														<div class="modal-dialog modal-dialog-centered" role="document">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="exampleModalLongTitle">Delete Coupon
																	</h5>
																	<button type="button" class="close" data-dismiss="modal"
																		aria-label="Close">
																		<span aria-hidden="true">&times;</span>
																	</button>
																</div>
																<div class="modal-body">
																	You really want to delete <span
																		class='text-primary'></span> coupon ?
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary"
																		data-dismiss="modal">No</button>
																	<button id="confirmDelete" type="button"
																		class="btn btn-primary">Yes</button>
																</div>
															</div>
														</div>
													</div>
				
												<tr th:unless="${coupon.size() > 0}">
													<th colspan="6">No Coupons Found</th>
												</tr>
				
											</tbody>
										</table>
										<div class="modal fade" id="addmodal" tabindex="-1" role="dialog"
											aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLongTitle">Add Coupon</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<form>
														<div class="modal-body">
															<div class="row">
																<div class="col-12">
				
																	<div class="form-group">
																		<label for="exampleInputName1">Coupon Code</label>
																		<input type="text" name="code" class="form-control"
																			id="couponcode" onblur="checkcouponcode()"
																			placeholder="Coupon Code">
																		<span id="couponcodeerr" class="text-danger"
																			style="font-size:14px"></span>
																	</div>
																</div>
																<div class="col-12">
																	<div class="form-group">
																		<label for="exampleInputName1">Coupon Type</label>
																		<select name="type" id="coupontype" onchange="checkcoupontype()"
																			class="form-control">
																			<option value="">Select type</option>
																			<option value="Percantage">Percantage</option>
																		</select>
																		<span id="coupontypeerr" class="text-danger"
																			style="font-size:14px"></span>
																	</div>
																</div>
																<div class="col-12">
				
																	<div class="form-group">
																		<label for="exampleInputName1">Coupon Value</label>
																		<input type="text" name="value" class="form-control"
																			id="couponval" onblur="checkcouponval()"
																			placeholder="Coupon Value">
																		<span id="couponvalerr" class="text-danger"
																			style="font-size:14px"></span>
																	</div>
																</div>
																<div class="col-12">
				
																	<div class="form-group">
																		<label for="exampleInputName1">Minimum cart value</label>
																		<input type="text" name="mvalue" class="form-control"
																			id="mincartvalue" onblur="checkmincartvalue()"
																			placeholder="Coupon Minimum Cart Value">
																		<span id="mincartvalueerr" class="text-danger"
																			style="font-size:14px"></span>
																	</div>
																</div>
				
															</div>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary"
																data-dismiss="modal">No</button>
															<button type="submit" id="addcoupon" onclick="return validate()"
																class="btn btn-primary">Confirm</button>
														</div>
													</form>
				
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:insert="admin-include/footer :: footer"> </div>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<script src="ajax/coupon.js"></script>
	<!-- container-scroller -->
	<script src="vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<script src="vendors/chart.js/Chart.min.js"></script>
	<script src="vendors/select2/select2.min.js"></script>
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script src="js/off-canvas.js"></script>
	<script src="js/hoverable-collapse.js"></script>
	<script src="js/template.js"></script>
	<script src="js/settings.js"></script>
	<script src="js/todolist.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="js/file-upload.js"></script>
	<script src="js/dashboard.js"></script>
	<script src="js/select2.js"></script>
	<!-- End custom js for this page-->

	<script>
		if (window.history.replaceState) {
			window.history.replaceState(null, null, window.location.href);
		}
	</script>
</body>

</html>