<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Watch Store - Admin Panel</title>
    <!-- base:css -->
    <link rel="stylesheet" href="vendors/typicons/typicons.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
     <link rel="stylesheet" href="assets/css/vendor/jquery-ui.min.css">
     <link rel="stylesheet" href="assets/css/plugins/jquery.lineProgressbar.css">
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="adminlogo/favicon.ico" />
    <style>
		.toast-container {
			animation: slideIn 0.5s ease-in-out forwards;
		}
		@keyframes slideIn {
			0% {
				right: -100%;
			}
	
			100% {
				right: 10px;
			}
		}
	</style>
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light py-5 px-4 px-sm-5">
                            <div class="brand-logo text-center">
                                <img src="adminlogo/logo_black.png" alt="logo">
                            </div>
							<div th:if="${error}" class="toast-container position-absolute top-0 end-0 p-3">
								<div style="background-color:#ff365d;" class="toast fade show" role="alert" aria-live="assertive"
									aria-atomic="false" id="errorToast">
									<div class="toast-body text-white">[[${error}]]</a></div>
								</div>
							</div>
                            <h4 class='text-center'>Welcome Back!</h4>
                            <h6 class="font-weight-light mb-4 text-center">Login in to continue.</h6>
                            
                            <form method="POST" th:action="@{/login_admin}">
                                <div class="form-group">
                                    <input type="email" name="email" onblur="checkusername()" class="form-control form-control-lg" id="username" placeholder="Username">
                                    <span class='text-danger' id="usernameerr" style="font-size:14px;"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" onblur="checkpassword()" class="form-control form-control-lg" id="password" placeholder="Password">
                                    <span class='text-danger' id="passworderr" style="font-size:14px;"></span>
                                </div>
                                <div class="mt-3">
                                    <button onclick="return validate()" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="index.html">SIGN IN</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
     <script src="assets/js/toast.js"></script>
    <script>
        function checkusername(){
            let username = document.getElementById("username").value;
            let usernameerr = document.getElementById("usernameerr");
            if(username == ""){
                usernameerr.innerHTML = "Please enter the username";
            }
            else{
                usernameerr.innerHTML = "";
            }
        }
        function checkpassword(){
            let password = document.getElementById("password").value;
            let passworderr = document.getElementById("passworderr");
            if(password == ""){
                passworderr.innerHTML = "Please enter the password";
            }
            else{
                passworderr.innerHTML = "";
            }
        }
        function validate(){
            let username = document.getElementById("username").value;
            let usernameerr = document.getElementById("usernameerr");
            let password = document.getElementById("password").value;
            let passworderr = document.getElementById("passworderr");
            if(username == "" && password == ""){
                usernameerr.innerHTML = "Please enter the username";
                passworderr.innerHTML = "Please enter the password";
                return false;
            }
            else if(username == ""){
                usernameerr.innerHTML = "Please enter the username";
                passworderr.innerHTML = "";
                return false;
            }
            else if(password == ""){
                usernameerr.innerHTML = "";
                passworderr.innerHTML = "Please enter the password";
                return false;
            }
            else{
                return true;
            }
        }
    </script>
    <!-- endinject -->
</body>

</html>