<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body>
<header class="header-section d-none d-xl-block">
        <div class="header-wrapper">
            <div class="header-bottom header-bottom-color--black section-fluid sticky-header sticky-color--black">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <!-- Start Header Logo -->
                            <div class="header-logo">
                                <div class="logo">
                                    <a href="/"><img src="assets/images/logo/logo_white.png" alt=""></a>
                                </div>
                            </div>
                            <!-- End Header Logo -->

                            <!-- Start Header Main Menu -->
                            <div class="main-menu menu-color--white menu-hover-color--pink">
                                <nav>
                                    <ul>
                                        <li class="has-dropdown">
                                            <a class="active main-menu-link" href="/">Home <i
                                                    ></i></a>
                                        </li>
                                        <li class="has-dropdown has-megaitem">
                                            <a href="shop">Shop <i
                                                    ></i></a>
                                            <!-- Mega Menu -->
                                        </li>
                                        <li>
                                            <a href="about-us">About Us</a>
                                        </li>
                                        <li>
                                            <a href="contact-us">Contact Us</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End Header Main Menu Start -->

                            <!-- Start Header Action Link -->
                            <ul class="header-action-link action-color--white action-hover-color--pink">
                                <li>
                                    <a  href="#offcanvas-wishlish" class="offcanvas-toggle">
                                        <i class="icon-heart"></i>
                                        <span class="item-count">[[${Wishlistsize}]]</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                        <i class="icon-bag"></i>
                                        <span class="item-count">[[${Cartsize}]]</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#search">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </li> &nbsp;&nbsp;
                                
                                <li th:if="${session.user==null}">
                                    <a href="logins">
                                        <i class="icon-login"></i>
                                    </a>
                                </li>
                                <li th:if="${session.user!=null}">
                                    <a href="account">
                                       <i class="icon-user"></i>
                                    </a>
                                </li>
                                
                            </ul>
                            <!-- End Header Action Link -->
                            <!--<span th:text="${session.user.name}"></span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
</body>
</html>