<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div id="offcanvas-wishlish" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
        <!-- Start Offcanvas Header -->
        <div class="offcanvas-header text-right">
            <button class="offcanvas-close"><i class="ion-android-close"></i></button>
        </div> <!-- ENd Offcanvas Header -->

        <!-- Start Offcanvas Mobile Menu Wrapper -->
        <div class="offcanvas-wishlist-wrapper">
            <h4 class="offcanvas-title">Wishlist</h4>
           
            <ul class="offcanvas-wishlist"> </ul>
            
             <!--<tr th:unless="${wishlist.size() > 0}">
				   <h4 class="title">Your Wishlist Cart is Empty</h4>
			 </tr>-->
            <ul class="offcanvas-wishlist-action-button">
                <li class="offcanvas-wishlist-button-shop"></li>
				<li class="offcanvas-wishlist-button"></li>
            </ul>
        </div> <!-- End Offcanvas Mobile Menu Wrapper -->

    </div>
</body>
</html>