<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<nav class="sidebar sidebar-offcanvas" id="sidebar">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="admin">
							<i class='bx bx-home bx-sm mr-2 text-primary'></i>
							<span class="menu-title">Dashboard</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="category">
							<i class='bx bx-category bx-sm mr-2 text-primary'></i>
							<span class="menu-title">Categories</span>
						</a>
					</li>
					<!--<li class="nav-item">
						<a class="nav-link" href="subcategory.php">
							<i class='bx bx-category bx-sm mr-2 text-primary'></i>
							<span class="menu-title">Sub Categories</span>
						</a>
					</li>-->
					<li class="nav-item">
						<a class="nav-link" href="country">
							<i class='bx bx-world bx-sm mr-2 text-primary'></i>
							<span class="menu-title">Country Of Origin</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="products">
							<i class='bx bx-cube bx-sm mr-2 text-primary'></i>
							<span class="menu-title">Products</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="sliders">
							<i class='bx bx-slideshow bx-sm mr-2 text-primary'></i>
							<span class="menu-title">Sliders</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="coupons">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								style="fill: white;stroke:#ba2026;stroke-width:1.5px;margin-right:8px">
								<path
									d="M21 5H3a1 1 0 0 0-1 1v4h.893c.996 0 1.92.681 2.08 1.664A2.001 2.001 0 0 1 3 14H2v4a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1v-4h-1a2.001 2.001 0 0 1-1.973-2.336c.16-.983 1.084-1.664 2.08-1.664H22V6a1 1 0 0 0-1-1zM9 9a1 1 0 1 1 0 2 1 1 0 1 1 0-2zm-.8 6.4 6-8 1.6 1.2-6 8-1.6-1.2zM15 15a1 1 0 1 1 0-2 1 1 0 1 1 0 2z">
								</path>
							</svg>
							<span class="menu-title">Coupons</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="inquiries">
							<i class='bx bx-message-dots bx-sm mr-2 text-primary'></i>
							<span class="menu-title">Inquiries</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="subscribers">
							<i class='bx bx-user-check bx-sm mr-2 text-primary'></i>
							<span class="menu-title">Subscribers</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="users">
							<i class='bx bx-group bx-sm mr-2 text-primary'></i>
							<span class="menu-title">Users</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="reviews">
							<i class='bx bx-star bx-sm mr-2 text-primary'></i>
							<span class="menu-title">Reviews</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false"
							aria-controls="charts">
							<i class='bx bx-package bx-sm mr-2 text-primary'></i>
							<span class="menu-title">Orders</span>
							<i class="menu-arrow"></i>
						</a>
						<div class="collapse" id="charts">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="/orders">All orders</a></li>
							</ul>
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="pendingorders">Pending orders</a>
								</li>
							</ul>
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="activeorders">Active orders</a></li>
							</ul>
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="shippingorders">Shipping orders</a>
								</li>
							</ul>
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="deliverdorders">Delivered orders</a>
								</li>
							</ul>
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="cancelledorders">Cancelled
										orders</a></li>
							</ul>
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="sales">Sales</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
</body>
</html>